header {
    alinhamento de texto: centro;
    cor: # 06066c;
}

. containerForm {
    display: flex;
    direção flexível: coluna;
    tamanho da fonte: 18 px;
    largura: 60 %;
    margem esquerda: automático;
    margem direita: automático;
    preenchimento: 8 px;
    fundo: rgb (208, 205, 205);
    raio da borda: 7 px;
}

. containerForm input {
    margem: 8 px 0 px;
    fronteira: nenhum;
    altura: 25 px;
}

. containerButton {
    display: flex;
    largura: 60 %;
    margem: 15 px auto;
    justificar-conteúdo: centro;
}

# lblDatahora {
    margem: 8 px 0;
    altura: 25 px;
    plano de fundo: # fff;
}